[submodule "packages/astro-inkstone"]
	path = packages/astro-inkstone
	url = https://github.com/ventusff/astro-inkstone.git
[submodule "packages/astro-inkbrush"]
	path = packages/astro-inkbrush
	url = https://github.com/ventusff/astro-inkbrush.git
